body{
  font-size: 14px;
  font-family: 'Arial', serif;
  color: #626262;
  overflow-y: scroll;
}

a{
  color: #b4ad9e;
}

a:hover{
  color: #898377;
}

p{
    line-height: 1.5rem;
}

h2, h3{
    margin: 1rem 0;
    font-size: 30px;
}
img {
    max-height: 500px;
}

.letter-text {
    min-height: 200px !important;
}

.tab-content {
    min-height: calc(100vh - 121px);
}
